<a href="https://colab.research.google.com/github/aakanksha32173/Pandas/blob/main/Handling_Missing_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/weather_data (1).csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [2]:
newdf=df.replace(-99999,np.nan)
newdf

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [4]:
newdf=df.replace([-99999,"0"],np.nan)
newdf

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0    NaN
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0    NaN

In [6]:
newdf=df.replace({
    'temperature':-99999,
    'windspeed':-99999,
    'event':'0'
},np.nan)
newdf

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0    NaN
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0    NaN

In [7]:
newdf=df.replace({
    -99999:np.nan,
    '0':'Sunny'
})
newdf

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

In [10]:
#Replacing with regex
df2=pd.read_csv('/content/weather_data (1).csv')
df2

        day temperature windspeed  event
0  1/1/2017         32C      6mph   Rain
1  1/2/2017      -99999      7mph  Sunny
2  1/3/2017         28F    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017          32    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [16]:
newdf=df2.replace('[A-Za-z]','',regex=True)
newdf

        day temperature windspeed event
0  1/1/2017          32         6
1  1/2/2017      -99999         7
2  1/3/2017          28    -99999
3  1/4/2017      -99999         7     0
4  1/5/2017          32    -99999
5  1/6/2017          31         2
6  1/6/2017          34         5     0

In [17]:
newdf=df2.replace({
    'temperature':'[A-Za-z]',
    'windspeed':'[A-Za-z]'
},'',regex=True)
newdf

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017      -99999         7  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017          32    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [18]:
#Replace a list of values with another
df=pd.DataFrame(
    {
        'name':['surbhi','Sameeksha','Aakanksha'],
        'score':['good','bad','worse']
    }
)
df

        name  score
0     surbhi   good
1  Sameeksha    bad
2  Aakanksha  worse

In [21]:
newdf=df.replace(['good','bad','worse'],[3,1,0])
newdf

        name  score
0     surbhi      3
1  Sameeksha      1
2  Aakanksha      0